@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Oswald:wght@700&display=swap");

body {
  text-align: center;
  background-color: rgb(233, 215, 207);
}

#box{
  margin: auto;
  width: 80%;
  max-width: 900px;
  border: 5px solid black;
  border-radius: 10px;
  padding: 50px;
  padding-top: 100px;
  background-color: rgb(224, 108, 80);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#box h1{
  color: rgb(39, 18, 5);
}

#box h1 span{
  color: rgb(81, 14, 7);
}

img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid black;
  margin-bottom: -110px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

h1 {
  font-family: "Oswald", sans-serif;
  color: rgb(83, 75, 75);
}

h2{
  color: rgb(83, 75, 75);
}

#box p{
  color: rgb(78, 49, 43);
}

p {
  font-family: "Fira Sans", sans-serif;
  color: rgb(83, 75, 75);
}

a {
  font-family: "Fira Sans", sans-serif;
  color: rgb(167, 1, 78);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#todays-challenge {
  color: rgb(170, 96, 83);
  font-weight: bold;
  font-size: 52px;
  font-family: "Fira Sans", sans-serif;
}

#footer{
  font-size: x-large;
  color: rgb(82, 71, 66);
  padding-top: 50px;
  font-weight: bold;
}


#footer a{
  color: rgb(39, 18, 5);
}
